<app-header></app-header>
<!-- MAP DIV -->
<div #map id="mapDiv"></div>

<div #centerControl style="padding-bottom: 20px">
    <button (click)="onBtnControlClick()">Button</button>
</div>

<div #bottomRightControl style="padding-right: 20px">
    <button data-toggle="modal" data-target="#addJunctionModal">A</button>
    <button (click)="onAddJunctionClick()">B</button>
    <button (click)="onAddJunctionClick()">C</button>
</div>


<!-- ADD JUNCTION MODEL -->
<div class="modal fade" id="addJunctionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div style="height: 30px">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form #addJunctionForm="ngForm">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>No. of Arms</label>
                                <select class="form-control" ngModel name="noOfJunctions" #noOfJ="ngModel" required>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                            <div style="height: 100px;width: 100px;border: 1px solid black">
                                <h6>Junction Image here</h6>
                                <!-- <img src="" alt="Junction image here"> -->
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" ngModel name="name" #name="ngModel" required class="form-control" aria-describedby="Junction Name" placeholder="Junction Name">
                                <div style="margin-top: 20px" ngModelGroup="pos" #pos="ngModelGroup">
                                    <input type="number" ngModel name="lat" required class="form-control" aria-describedby="Latitude" placeholder="Latitude">
                                    <input type="number" ngModel name="lng" required class="form-control" aria-describedby="Longitude" placeholder="Longitude">
                                </div>
                                <h4>OR</h4>
                                <button type="button" (click)="dropPinOnMap(addJunctionForm.value)" [disabled]="!(name.valid && noOfJ.valid && pos.invalid)"
                                    class="btn btn-success" aria-label="Pin on map">Pin On Map </button>
                                <button type="submit" (click)="onAddJunctionFormSave(addJunctionForm.value)" [disabled]="addJunctionForm.invalid" class="btn btn-primary"
                                    aria-label="save">Save </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

